<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floor Details</title>
</head>
<body>
    <div>
        <form action="/floor-details" method="post">
    
            <br>
            <label for="Floor_0">Floor 0</label>
            <input type="checkbox" name="Floors" value="Floor A" id="Floor_0">
    
            <label for="Floor_1">Floor 1</label>
            <input type="checkbox" name="Floors" value="Floor 1" id="Floor_1">
    
            <label for="Floor_2">Floor 2</label>
            <input type="checkbox" name="Floors" value="Floor 2" id="Floor_2">
    
            <label for="Floor_3">Floor 3</label>
            <input type="checkbox" name="Floors" value="Floor 3" id="Floor_3">
    
            <br>
    
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>