<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>block Cards</title>
    <link rel="stylesheet" href="styles/cleaner-page1.css">
</head>

<body>

    <% blocks.forEach((block)=> {%>
        <form action="/block" method="post">
            <input type="hidden" name="blockId" value="<%=block._id%>">
            <input type="hidden" name="blockName" value="<%=block.block_name%>">
            <button class="card">
                <h2 class="block">
                    <%= block.block_name %>
                </h2>
                <p>Click to go to <%= block.block_name %>
                </p>
            </button>
        </form>
        <%});%>
</body>

</html>